body{
    color: rgb(0, 0, 0);
    background:rgb(250, 225, 202);
    font-size: x-large;
}
.heading{
    color: rgb(10, 0, 70, 25);
    width: 80%;
    font-size: 80px;
}
.name_of_objects{
    color: rgb(2, 2, 83);
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}